html,body {
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  
  .container-fluid{
    background:url("./dist/background.jpg") no-repeat 50% fixed;
    background-size:cover;
    overflow-y: hidden;
    -ms-overflow-style: none;
  }
  
  .container-fluid::-webkit-scrollbar {
    display: none;
  }
  
  #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    }
    
    h1, h2 {
      font-weight: normal;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
    }
    
    li {
      display: inline-block;
      margin: 0 10px;
    }
    
    a {
      color: #42b983;
    }